# Temporary files and folders
Temp/
.temp/
*.tmp
0 - Evaluation/

# Instruction files
.github/instructions/
*.instructions.md

# Python related
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/
.vscode/settings.json

#virtual environment
.venv/